<p-breadcrumb [home]="{icon:'pi pi-home', url:'/inicio', target:'_self'}" [model]="[{ label: 'Plantas', styleClass: 'font-bold'}]">
</p-breadcrumb>
<h2>Plantas</h2>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div id="plantasFiltro" class="mb-4">
    <p-accordion>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex items-baseline ">
                    <span class="">Filtros</span>
                    <i class="pi pi-search ml-2"></i>
                </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="grid grid-cols-4 gap-x-6 gap-y-3 mt-6">
                    <span class="p-float-label mb-8">
                        <input id="id" type="text" pInputText class="w-full" [(ngModel)]="filtro.id" maxlength="15">
                        <label for="id">Id</label>
                    </span>
                    <span class="p-float-label mb-8">
                        <p-dropdown id="idCiudad" [options]="ciudades" optionLabel="nombre" optionValue="id" styleClass="w-full" [(ngModel)]="filtro.idCiudad" (onChange)="obtenerOficinas()"></p-dropdown>
                        <label for="idCiudad">Ciudad</label>
                    </span>
                    <span class="p-float-label mb-8">
                        <p-dropdown id="idCiudad" [options]="oficinas" optionLabel="nombre" optionValue="id" styleClass="w-full" [(ngModel)]="filtro.idOficina"></p-dropdown>
                        <label for="idCiudad">Oficina</label>
                    </span>
                    <span></span>
                    <span class="p-float-label mb-8">
                        <input id="nombre" type="text" pInputText class="w-full" [(ngModel)]="filtro.nombre" maxlength="50">
                        <label for="nombre">Nombre</label>
                    </span>
                    <span class="p-float-label mb-8">
                        <input id="numPlanta" type="text" pInputText class="w-full" [(ngModel)]="filtro.numPlanta" maxlength="75">
                        <label for="numPlanta">Número de planta</label>
                    </span>
                </div>
                <p-button type="button" class="p-button-primary mb-2 mr-4" label="Aplicar filtros" (click)="refreshPlantas(null)"></p-button>
                <p-button type="button" [outlined]="true" class="p-button-rounded p-button-outlined" (click)="precargarFiltro(true)" label="Eliminar filtros"></p-button>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</div>
<div id="botonesPlantas" class="mb-3 flex justify-end">
    <p-button type="button" class="p-button-primary" (click)="anyadirPlantas()" label="Añadir"></p-button>
</div>
<div id="tabla">
    <p-table
    [value]="plantas"
    [lazy]="true"
    (onLazyLoad)="refreshPlantas($event)"
    dataKey="id"
    [tableStyle]=""
    [paginator]="true"
    [rows]="itemsPorPagina"
    [rowsPerPageOptions]="[5, 10, 25 , 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} plantas"
    [totalRecords]="registrosTotales"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="oficina.ciudad.nombre">Ciudad <p-sortIcon field="oficina.ciudad.nombre"></p-sortIcon></th>
            <th pSortableColumn="oficina.nombre">Oficina <p-sortIcon field="oficina.nombre"></p-sortIcon></th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="numPlanta">Número de planta <p-sortIcon field="numPlanta"></p-sortIcon></th>
            <th>Acciones </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-planta>
        <tr>
            <td>{{ planta.id }}</td>
            <td>{{ planta.oficina?.ciudad?.nombre }}</td>
            <td>{{ planta.oficina?.nombre }}</td>
            <td>{{ planta.nombre }}</td>
            <td>{{ planta.numPlanta }}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2" (click)="editarPlanta(planta)"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger mx-2" (click)="deletePlanta(planta)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
