<p-breadcrumb [home]="{icon:'pi pi-home', url:'/inicio', target:'_self'}" [model]="[{ label: 'Oficinas', url: '/oficinas', target: '_self'}, { label: 'Detalle de oficina', styleClass: 'font-bold'},]">
</p-breadcrumb>
<div class="flex justify-between mt-2">
    @if(this.op === this.OPS.EDIT) {
        <h2>Editar oficina</h2>
    } @else if (this.op === this.OPS.NEW) {
        <h2>Añadir oficina</h2>
    }
    <div class="flex items-center">
        <p-button type="button" class="p-button-primary mr-4" [outlined]="true" label="Volver" (onClick)="volver()"></p-button>
        <p-button type="button" class="" severity="success" label="Guardar" (onClick)="saveOficina()"></p-button>
    </div>
</div>
<div>
    <p-messages styleClass="mb-10" [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    @if (oficinaSeleccionada || this.op === this.OPS.NEW) {
        <form [formGroup]="oficinaForm">
            <div class="grid grid-cols-4 gap-x-6 gap-y-3">
                <span class="p-float-label mb-8">
                    <input id="nombre" type="text" pInputText class="w-full" maxlength="50" formControlName="nombre">
                    <label for="nombre">Nombre *</label>
                </span>
                <span class="p-float-label mb-8">
                    <p-dropdown id="idCiudad" [options]="ciudades" styleClass="w-full" optionLabel="nombre" optionValue="id" formControlName="idCiudad"></p-dropdown>
                    <label for="idCiudad">Ciudad *</label>
                </span>
                <span></span>
                <span class="p-float-label mb-8 col-span-2">
                    <input id="direccion" type="text" pInputText class="w-full" maxlength="75" formControlName="direccion">
                    <label for="direccion">Dirección *</label>
                </span>
                <span class="p-float-label mb-8">
                    <input id="telefono" type="text" pInputText class="w-full" maxlength="15" formControlName="telefono">
                    <label for="telefono">Teléfono *</label>
                </span>
            </div>
        </form>
    }
</div>