<p-breadcrumb [home]="{icon:'pi pi-home', url:'/inicio', target:'_self'}" [model]="[{ label: 'Ciudades', styleClass: 'font-bold'}]">
</p-breadcrumb>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<h2>Ciudades</h2>
<div id="ciudadesFiltro" class="mb-4">
    <p-accordion>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex items-baseline ">
                    <span class="">Filtros</span>
                    <i class="pi pi-search ml-2"></i>
                </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="grid grid-cols-4 gap-x-6 gap-y-3 mt-6">
                    <span class="p-float-label mb-8">
                        <input id="idCiudad" type="text" pInputText class="w-full" [(ngModel)]="filtro.id" maxlength="15">
                        <label for="idCiudad">Id</label>
                    </span>
                    <span class="p-float-label mb-8">
                        <input id="nombreCiudad" type="text" pInputText class="w-full" [(ngModel)]="filtro.nombre" maxlength="50">
                        <label for="nombreCiudad">Nombre</label>
                    </span>
                    <span class="p-float-label mb-8">
                        <input id="codCiudad" type="text" pInputText class="w-full" [(ngModel)]="filtro.codigo" maxlength="5">
                        <label for="codCiudad">Código</label>
                    </span>
                </div>
                <p-button type="button" class="p-button-primary mb-2 mr-4" label="Aplicar filtros" (click)="refreshCiudades(null)"></p-button>
                <p-button type="button" [outlined]="true" class="p-button-rounded p-button-outlined" (click)="precargarFiltro(true)" label="Eliminar filtros"></p-button>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</div>
<div id="botonesCiudades" class="mb-3 flex justify-end">
    <p-button type="button" class="p-button-primary" (click)="anyadirCiudad()" label="Añadir"></p-button>
</div>
<div id="tabla">
    <p-table
    [value]="ciudades"
    [lazy]="true"
    (onLazyLoad)="refreshCiudades($event)"
    dataKey="id"
    [tableStyle]=""
    [paginator]="true"
    [rows]="itemsPorPagina"
    [rowsPerPageOptions]="[5, 10, 25 , 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} ciudades"
    [totalRecords]="registrosTotales"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="nif"></p-sortIcon></th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
            <th>Acciones </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ciudad>
        <tr>
            <td>{{ ciudad.id }}</td>
            <td>{{ ciudad.nombre }}</td>
            <td>{{ ciudad.codigo }}</td>
            <td >
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2" (click)="editarCiudad(ciudad)"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger mx-2" (click)="deleteCiudad(ciudad)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
