<p-menubar class="p-tabmenu p-tabmenu-nav" [model]="headerItems">
    <ng-template pTemplate="start">
        <!-- PONER LOGO APP LUEGO -->
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
        @if (isLogged) {
            <p-menu #menu [model]="itemsDesplegable" [popup]="true"></p-menu>
            <p-button icon="" (click)="menu.toggle($event)">Hola, {{user?.nombre}} {{user?.apellido1}} ᐁ </p-button>
        }
    </ng-template> 
</p-menubar>